body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(240, 240, 240);
    text-align: left;
}
footer{
    background-color: black;
    color: darkgoldenrod;
    position: fixed;
    top: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    width: 98.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    height: 50px;
    
}
h1{
    color: darkcyan;
    font-size: xx-large;
    margin-top: 50px;
    
}

h2{
    color: rgb(39, 59, 59);
}

p{
    color: rgb(0, 0, 0);
    font-size: medium;
}

img{
    display: block;
    margin: auto;
    width: 400px;
    height: auto;
}
a{
    position: relative;
    top: 150px;
    left: 70px;
}
form{
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 50px;
}

button{
    color: black;
    background-color: aquamarine; 
    transition: transform 0.3s ease, background-color 0.3s ease;
}
button:hover{
    transform: scale(1.1);
}